@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;

}
body
{
    min-height: 100vh;
    background: rgb(2, 2, 2);
}
header
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}
header .logo
{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
span
{
    color: rgb(148, 0, 0);
}
header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style-type: none;
    margin-left: 20px;
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: white;
}
header ul li a:hover,
header ul li a.active
{
    background: rgba(255, 255, 255, 0.137);
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, #000,transparent);
    z-index: 1000;
}
#titulo
{
    position: absolute;
    color: #fff;
    white-space: nowrap;
    font-size: 7.5vw;
    z-index: 2;
}
.sobremi
{
    padding: 500px 0px;
    width: 100%;
    z-index: 3;
    background: white;
}
.sobremi img
{
    height: auto;
    width: 430px;
}
.principal
{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sobremi-textos
{
    width: 550px;
}
.sobremi-textos h2
{
    font-size: 75px;
    color: black;
    text-transform: capitalize;
    margin-bottom: 10px;
    
}
.sobremi-textos h5
{
    font-size: 30px;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 40px;
    
}
.sobremi-textos p
{
    font-size: 18px;
    color: rgb(29, 29, 29);
    letter-spacing: 1px;
    line-height: 28px;
    margin-bottom:45px ;
    
}